.AddTodoInput {
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 467px;
  min-width: 200px;
  background-color: #0e1217;
  color: #fff;
  font-size: 15px;
}

input[type="text"] {
  padding: 0 15px;
}

.AddTodoInput::placeholder {
  color: #fff;
  opacity: 0.8;
}

.AddTodoWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* kak podklyuchit fonty??? */
}

.AddTodoButton {
  border-radius: 5px;
  border: none;
  margin: 0;
  padding: 10px 10px;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background-color: #2c66ac;
  color: #fff;
  min-width: 80px;
}

.AddTodoButton:hover {
  background-color: #224c7f;
  transition: all 0.15s linear;
}
